/* dashboard-calendar.css */

/* Style the container for the calendar */
.calendar-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Style the FullCalendar */
.fc {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

/* Style the calendar header */
.fc-header-toolbar {
  background-color: #ffffff;
  color: #202124; /* Google Calendar text color */
  border-radius: 15px 15px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-header-toolbar .fc-button {
  background-color: #1a73e8; /* Google Calendar blue buttons */
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.fc-header-toolbar .fc-button:hover {
  background-color: #0f62fe; /* Darker blue on hover */
}

/* Style the calendar views */
.fc-view {
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style individual day cells */
.fc-day {
  border: none;
}

.fc-day:hover {
  background-color: #f9f9f9; /* Light gray on hover */
  cursor: pointer;
}

/* Style the calendar events */
.fc-event {
  background-color: #1a73e8; /* Google Calendar blue events */
  border: none;
  color: #ffffff; /* White text */
  border-radius: 10px;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.fc-event:hover {
  background-color: #0f62fe; /* Darker blue on hover */
  cursor: pointer;
}

/* Style the calendar event titles */
.fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  transition: color 0.3s;
}

/* Hover effect for event title */
.fc-event:hover .fc-event-title {
  color: #ffcc00; /* Yellow on hover */
}

/* Style the calendar event details */
.fc-event-dot {
  background-color: #ffffff; /* White dot */
  border-radius: 50%;
  margin-right: 5px;
}

.fc-event-time {
  font-size: 0.9em;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .calendar-container {
    margin-top: 10px;
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .fc-header-toolbar {
    flex-direction: column;
    align-items: center; /* Center align buttons */
  }

  .fc-header-toolbar .fc-button {
    margin: 5px; /* Increase button margin for spacing */
  }

  .fc-view {
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .fc-event-title {
    font-size: 14px; /* Decrease font size for event titles */
  }

  .fc-event-time {
    font-size: 0.8em; /* Decrease font size for event times */
  }
  
}
