/* ResetPasswordForm.css */

.reset-password-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-form h2 {
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    color: #333;
  }
  

  .reset-password-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .reset-password-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reset-password-form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-password-form button:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
  }
  
  .password-reset-input {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    position: relative; /* Make the container relatively positioned */
  }
  
  .password-reset-input input {
    flex: 1; /* Take remaining space */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-reset-input .password-toggle {
    cursor: pointer;
    top: 40%;
    right: 4px;
    width: 20px; /* Adjust the width of the icon */
    height: 20px; /* Adjust the height of the icon */
    margin-right: 5px; /* Add spacing between input field and icon */
  }
  
  /* Your updated CSS for React Toastify */
.Toastify {
    font-family: Arial, sans-serif;
}

.Toastify__toast-container {
    width: auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Toastify__toast--success {
    background-color: #4caf50;
}

.Toastify__toast--error {
    background-color: #f44336;
}

.Toastify__toast {
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    align-self: flex-end;
    padding: 12px 16px; /* Adjust padding for better spacing */
    font-size: 16px; /* Increase font size for better readability */
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
}

.Toastify__toast-body {
    padding: 0;
}

.Toastify__progress-bar {
    background: rgba(255, 255, 255, 0.3);
    height: 3px;
}

/* Make close button smaller */
.Toastify__close-button {
    background-color: transparent !important; /* Set background color to transparent */
    font-size: 12px; /* Reduce font size */
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px; /* Adjust padding */
    margin-left: 8px; /* Add margin to separate from message */
}

/* Add hover effect to close button */
.Toastify__close-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .reset-password-form {
      max-width: 90%;
    }
  }
  